<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Map</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map {
            height: 600px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Tour Map</h1>
        <div id="map"></div>
    </div>
    <script>
        var map = L.map('map').setView([51.505, -0.09], 2); // Center map

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        fetch('/api/get_tour_locations')  // Map Location
            .then(response => response.json())
            .then(data => {
                data.forEach(tour => {
                    L.marker([tour.lat, tour.lon]).addTo(map)
                        .bindPopup(`<b><a href="${tour.url}">${tour.name}</a></b><br>${tour.description}`);
                });
            });
    </script>
</body>
</html>
