<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Реєстрація</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Реєстрація</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Ім'я користувача</label>
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="email">Електронна пошта</label>
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="confirm_password">Підтвердження пароля</label>
                {{ form.confirm_password(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Зареєструватись</button>
        </form>
        <a href="{{ url_for('login') }}">Вже маєте акаунт? Увійдіть!</a>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
